{% extends 'common/base.html' %}

{% block title %}TravelBlueprint - FAQs{% endblock %}

{% block content %}
<main>
    <h1> FAQs </h1>
    <p>If you have additional questions after going through this please reach out to us!</p>
    <div class="accordion" id="accordionPanel">
        {% for faq in data.faqs %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="panel-heading{{loop.index}}">
            <button class="accordion-button fw-bolder {% if loop.index!=1 %}collapsed{% endif%}" type="button" data-bs-toggle="collapse" data-bs-target="#panel-collapse{{loop.index}}" aria-expanded={% if loop.index==1 %}"true"{% else %}"false"{% endif %} aria-controls="panel-collapse{{loop.index}}">
              {{faq.question}}
            </button>
          </h2>
          <div id="panel-collapse{{loop.index}}" class="accordion-collapse collapse {% if loop.index==1 %}show{% endif%}" aria-labelledby="panel-heading{{loop.index}}">
            <div class="accordion-body">
              {{faq.answer}}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}